PRIVATE_KEY=

LOCALHOST_RPC_URL=http://127.0.0.1:8545
GOAT_TESTNET_RPC_URL=https://rpc.testnet3.goat.network
BSC_TESTNET_RPC_URL=
SEPOLIA_RPC_URL=

DAO_CONTRACT_ADDR= # use your EOA for testing
TSS_SIGNER_ADDR= # use your EOA for testing

SUBMITTER_ADDR= # use your EOA for testing
# minimum 3 participants
PARTICIPANT_1=
PARTICIPANT_2=
PARTICIPANT_3=
PARTICIPANT_KEY_1=
PARTICIPANT_KEY_2=
PARTICIPANT_KEY_3=

# contract addresses after deployment
NUVO_TOKEN_ADDR=
ENTRY_POINT=
NUVO_LOCK_ADDR=
TASK_MANAGER=
ACCOUNT_HANDLER=
ASSET_HANDLER=
FUNDS_HANDLER=